@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper{
    width: 100%;
    max-width: 2400px;
    overflow: hidden;
    @apply m-auto flex min-h-screen
}

 

.content_wrapper{
    flex: 7;
}

.companyName{
    @apply border-b border-gray-300 p-5 text-right text-2xl text-black
}

.dash_page{
    height: 100%;
}

.pages_container{
    @apply dash_page p-7 bg-gray-100
}
